<div class="pl-20 pt-3 bg-blue-100 pb-5">
  <div class="flex w-full gap-10 justify-between">
    <div class="flex gap-5 justify-between w-full">
      <div class="flex gap-5">
        <div class="w-32">
          <app-label label="Funil"></app-label>
          <app-select [options]="funilOptions"></app-select>
        </div>
        <div class="w-32">
          <app-label label="Etapa do funil"></app-label>
          <app-select [options]="etapasOptions"></app-select>
        </div>
        <div class="w-32">
          <app-label label="Responsavel"></app-label>
          <app-select></app-select>
        </div>
        <div class="w-32">
          <app-label label="Status"></app-label>
          <app-select></app-select>
        </div>
      </div>
      <div class="flex gap-5 mr-10">
        <div>
          <button
            [routerLink]="['/leads/tabela']"
            routerLinkActive="router-link-active"
            class="px-4 bg-yellow-300 rounded mt-4 flex items-center gap-2"
          >
            <p class="paragrafo-tabela">Tabela</p>
            <mat-icon
              class="text-sm pt-0.5"
              routerLinkActive="router-link-active"
            >
              table
            </mat-icon>
          </button>
        </div>
        <div
          class="mt-4 px-4 py-2 bg-green-400 text-white rounded items-centeryj"
        >
          <button
            class="flex items-center gap-2"
            (click)="openDialogCreateLeads()"
          >
            Criar lead
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="add"
            ></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
