<div class="container mx-auto">
  <div class="mt-12 flex justify-between items-center">
    <div class="flex w-12 items-center">
      <div>
        <button class="bg-blue-400 rounded px-2 py-1 flex items-center">
          <p class="text-filtrar">Filtrar</p>
          <div class="ml-2">
            <mat-icon class="text-lg text-white"> filter_list </mat-icon>
          </div>
        </button>
      </div>
      <div class="mx-4">
        <button
          class="bg-green-400 rounded px-4 py-2 flex items-center"
          (click)="openDialogInserir()"
        >
          <p class="text-filtrar">Inserir</p>
        </button>
      </div>
    </div>
    <div>
      <app-input
        [value]="pesquisaRapida"
        placeHolder="Pesquisa rapida por nome"
        (valueChange)="setPesquisaRapida($event)"
      ></app-input>
    </div>
  </div>
  <app-clientecard [clientes]="clientes"></app-clientecard>
</div>
