<div class="grid grid-cols-2">
  <div class="flex items-center p-2">
    <div class="flex flex-col">
      <div>
        <h3>
          {{ calendarioHorario.compromisso.tarefas.cliente?.nome }}
        </h3>
      </div>
      <div>
        <p class="comprimisso-paragrafo">
          {{ calendarioHorario.compromisso.tarefas.cliente?.contato?.telefone }}
          -
          {{
            calendarioHorario.compromisso.tarefas.cliente?.contato?.telefone2
          }}
        </p>
      </div>
      <div>
        <p class="comprimisso-paragrafo">
          {{ calendarioHorario.compromisso.tarefas.cliente?.contato?.email }}
        </p>
      </div>
    </div>
  </div>
  <div>
    <div class="flex items-center p-2">
      <div class="flex flex-col">
        <div>
          <p>Tarefa</p>
        </div>
        <div>
          <p>
            {{ calendarioHorario.compromisso.inicioCompromisso }}
          </p>
        </div>
        <div>
          <p>
            {{ calendarioHorario.compromisso.fimCompromisso }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
