<div *ngIf="itens">
  <div>
    <div
      class="flex flex-col gap-4 bg-blue-100 min-h-lead"
      cdkDropList
      [cdkDropListData]="itens.leads"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="rounded-b px-3">
        <div>
          <div *ngFor="let lead of itens.leads" class="mt-5">
            <div [cdkDragData]="lead.lead" cdkDrag cdkDragHandle>
              <div>
                <div>
                  <div
                    class="border border-black rounded-t text-white px-3 bg-blue-500"
                  >
                    {{ lead.lead.cliente.nome }}
                  </div>
                </div>
                <div class="border border-black rounded-b bg-white">
                  <div class="flex flex-col gap-5 p-3">
                    <div>
                      {{ lead.lead.descricao }}
                    </div>
                    <div>
                      {{ formataData(lead.lead.data) }}
                    </div>
                    <div>
                      <p matPrefix>
                        {{
                          lead.lead.valor | currency : "BRL" : true : "1.2-2"
                        }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
